{% extends 'base.html.twig' %}

{% block body %}
    <table border="0" class="dataTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Color</th>
                <th>Description</th>
                <th>Type</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <a href="{{ path('inquire') }}">Inquire About a Vehicle</a>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
{% endblock %}

{% block javascripts %}
<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
{% endblock %}
